In [2]:
import pandas as pd
from itertools import combinations
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = 18,5
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [6]:
lst= ["f","ac","tv","wm"]
path1 = "C:/Users/harsh/OneDrive/Documents/NILM-harsh/Data/"
df_lst = []
for i in lst:
    df = pd.read_csv(f"{path1}c_{i}.csv")
    df['Timestamp'] = pd.to_datetime(df['Timestamp'])
    df.set_index(['Timestamp'], inplace=True)
    df = df[[f"{i}_A"]]
    df_lst.append(df)

all_appliances_df = pd.concat(df_lst, axis=1)

In [7]:
aggregate_data = all_appliances_df.groupby(all_appliances_df.index).sum()

In [8]:
aggregate_data['aggregate_value'] = aggregate_data.sum(axis=1)

In [9]:
aggregate_data['devices_running'] = aggregate_data.apply(lambda row: '+ '.join([lst[i] for i, val in enumerate(row[:len(lst)]) if val > 0]), axis=1)

In [10]:
aggregate_data.fillna(value=0, inplace=True)

In [22]:
aggregate_data['devices_running'].unique()

array(['f', '', 'f, tv', 'tv', 'f, ac', 'f, ac, tv', 'ac', 'f, wm',
       'f, tv, wm', 'wm', 'ac, tv'], dtype=object)

In [23]:
aggregate_data[aggregate_data['devices_running'] == '']

                     f_A  ac_A  tv_A  wm_A  aggregate_value devices_running
Timestamp
2013-06-12 00:29:04 0.00  0.00  0.00  0.00             0.00
2013-06-12 00:34:41 0.00  0.00  0.00  0.00             0.00
2013-06-12 02:54:58 0.00  0.00  0.00  0.00             0.00
2013-06-12 03:34:11 0.00  0.00  0.00  0.00             0.00
2013-06-12 03:36:00 0.00  0.00  0.00  0.00             0.00
...                  ...   ...   ...   ...              ...             ...
2013-08-02 23:59:02 0.00  0.00  0.00  0.00             0.00
2013-08-03 00:30:08 0.00  0.00  0.00  0.00             0.00
2013-08-03 04:33:33 0.00  0.00  0.00  0.00             0.00
2013-08-03 04:56:09 0.00  0.00  0.00  0.00             0.00
2013-08-03 12:09:15 0.00  0.00  0.00  0.00             0.00

[881 rows x 6 columns]

In [17]:
tv_running_data = aggregate_data[aggregate_data['devices_running'].str.contains('tv')]

# Print the aggregate values where TV is running
print("Aggregate values where TV is running:")
tv_running_data

Aggregate values where TV is running:

                       f_A  ac_A  tv_A  wm_A  aggregate_value devices_running
Timestamp
2013-06-12 06:26:28  37.71  0.00 74.77  0.00           112.48           f, tv
2013-06-12 06:26:29  37.63  0.00 74.43  0.00           112.06           f, tv
2013-06-12 06:26:30  37.54  0.00 74.76  0.00           112.30           f, tv
2013-06-12 06:26:31  37.60  0.00 74.83  0.00           112.43           f, tv
2013-06-12 06:26:32  37.53  0.00 74.54  0.00           112.07           f, tv
...                    ...   ...   ...   ...              ...             ...
2013-08-03 14:55:27 117.83  0.00 72.86  0.00           190.69           f, tv
2013-08-03 14:55:28 117.76  0.00 73.09  0.00           190.85           f, tv
2013-08-03 14:55:29 117.74  0.00 73.09  0.00           190.83           f, tv
2013-08-03 14:55:30 117.59  0.00 73.40  0.00           190.99           f, tv
2013-08-03 14:55:31 117.71  0.00 72.96  0.00           190.67           f, tv

[475802 rows x 6 columns]